setup.py
ml-code-workspace.code-workspace
src/data
src/training/trained_models/*
src/models/trained_models/*
src/dataset/cached
build
src/embeddings
tests
training/results
src/compression/output/
src/compression/dataset
src/*/__pycache__